.form
  = form_for [@group, @message] do |f|
    = f.text_field :body, class: 'form__message', placeholder: 'type a message'
    .form__picture
      = f.label :image, class: 'form__picture__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'